<div class="modal fade" id="crudModal" tabindex="-1" aria-labelledby="crudModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crudModalLabel">Tambah {{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" action="{{ url_action }}add/">
          {% csrf_token %}
          <div class="row g-3">
            {% for field in form %}
              <div class="col-md-6">
                <label class="form-label fw-semibold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <div class="text-danger small mt-1">{{ field.errors|striptags }}</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="mt-4 text-end">
            <button type="submit" class="btn btn-success">Simpan</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Batal</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
